.recipe-item{
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  margin:1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  .pull-left{
    img{
      margin-left: 1rem;
    }
  }
}
.recipe-item:hover{
  color: #126bcc;
}
